html{
    margin:0;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    position:fixed;
    margin: -8px auto;
    z-index: 1;
 }
    .containerLogo{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerUl{
        width: 70%; 
        padding-right: 100px;    
    }   
li:nth-child(1) a{
    color: #4CAF50;
} 
li:nth-child(6) button {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: 0 15px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
li:nth-child(6) button:hover {
    background-color: rgb(41, 235, 47);
}
nav ul{
    list-style-type: none;
    display: flex;
    height: 40px;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
nav a:hover{
    color: #4CAF50;
}
.container2{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right, rgba(43, 61, 19, 0.3), rgba(43, 61, 19, 0.3)),url("https://www.akuantri.com/images/bg-akuantri-home1.jpg");
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
/*
.opacity{
    background: rgba(73, 73, 73, 0.3);
    height: 580px;
}*/
.titleAkuantri{
    color:white;
    display: flex;
    Justify-content: center;
    font-size: 30px;
}
.penjelasanAkuantri{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 300px;
    height: 166px;
    font-size: 18px;
}
.buttonContainer2{
    color:white;
    display: flex;
    justify-content: center;
    height: 166px;
}
.buttonContainer2 img{
    width: 180px;
    height: 60px;
    padding-right: 30px;
}

.container3{
    display: grid;
    width: 100%;
    height:800px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
}
    .container3 p{
        color: gray;
        font-size: 17px;
    }
    .grid1_2{
        grid-column: 2/10;
    }
        .grid1_2 h2{
            font-size: 40px;
        }
    .grid1_5{
        grid-column: 2/10;
    }
        .grid1_5 p{
            font-size: 20px;
            color: gray;
        }
    .grid1_8{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid1_8 img{
            width: 50px;
        }
    .grid1_9{
        grid-column: 6/10;
        grid-row: 3/9;
        
    }
        .grid1_9 img{
            height: 750px;
            margin-top: -110px;
            margin-left: 50px;
        }
    .grid1_10{
        grid-column: 3/6;
    }
    .grid2_3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid2_3 img{
            width: 50px;
        }
    .grid2_4{
        grid-column: 3/6;
    }
    .grid2_7{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid2_7 img{
            width: 50px;
        }
    .grid2_8{
        grid-column: 3/6;
    }
    .grid3_1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid3_1 img{
            width: 50px;
        }
    .grid3_2{
        grid-column: 3/6;
    }
    .grid3_5{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid3_5 img{
            width: 50px;
        }
    .grid3_6{
        grid-column: 3/6;
    }
    .grid3_9{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        .grid3_9 img{
            width: 50px;
        }
    .grid3_10{
        grid-column: 3/6;
    }
.container4{
    width:100%;
    height: 670px;
    background-image: linear-gradient(rgb(236, 236, 236), rgb(239, 243, 248));
    margin-top: 150px;
}
    .title{
        width: 100%;
        height: 220px;
        text-align: center;
        padding-top: 40px;
    }
        .title h2{
            font-size: 40px;
        }
        .title p{
            font-size: 22px;
        }
    .FAQ1{
        Width:100%;
        height: 90px;
        display: flex;
        justify-content: space-around;
    }
        .FAQ1_1{
            Width:40%;
            height: 60px;
            margin-top: 10px;
            margin-left:70px;
            background-color: whitesmoke;
            border-radius: 5px;
        }
        .FAQ1_2{
            Width:40%;
            height: 60px;
            background-color: whitesmoke;
            margin-top: 10px;
            margin-right:70px;
            border-radius: 5px;
        }
.container5{
    width:100%;
    height: 670px;
  }
    .testiImgContainer{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around;
    }
        .testiImg{
            width:30%;
            height:300px;
        }
            .testiImg img{
                width: 380px;
                height: 300px;
            }
.container6{
    width:100%;
    height:400px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(236, 236, 236), rgb(239, 243, 248));
}
    .desc1{
        width:25%;
        height:300px;
        margin-top: 50px;
    }
        .roundIcon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30%;
        }
            .roundIcon img{
                width: 60px;
                height: 60px;
            }
        .descDalam1{
            text-align: center;
        }
        .descDalam2{
            text-align: center;
        }
         .descDalam2 p{
             color: gray;
         }

    