.kotakLuar{
    background-color: rgb(70, 119, 103);
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 40% ;
    grid-template-rows: 50px 200px 100px 100px 100px;
}
.kotakDalam1{
    background-color: #020314;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kotakDalam2{
    background-color: #ce3939;
    grid-column: 2/5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotakDalam3{
    background-color: #3456b4;
    grid-column: 1/5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotakDalam4{
    background-color: #322e5c;
    grid-column: 1/3;
    grid-row: 3/5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotakDalam5{
    background-color: #ffffffe0;
    grid-row: 3/5;
    display: flex;
    align-items: center;
    justify-content: center;

}
.kotakDalam6{
    background-color: #9ba5c7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotakDalam7{
    background-color: #0b8a0b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotakDalam8{
    background-color: #d5d819e0;
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
}